<!-- <article id="logArt">
    <div class="w-25 form-container">
        <form class="form-signin">
            <img class="mb-4" src="/assets/images/favicon .ico" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" #Username="ngModel" [(ngModel)]="loginCredentials.Username" [ngModelOptions]="{standalone:true}" class="form-control" placeholder="Email address" required minlength="3" maxlength="40">
            <div *ngIf="Username.invalid && Username.touched" id="emailHelp" style="color: red;"   class="form-text">Email must be valid</div>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" #Password="ngModel" [(ngModel)]="loginCredentials.Password" [ngModelOptions]="{standalone:true}" class="form-control" placeholder="Password" required minlength="5" maxlength="20">
            <div *ngIf="Password.invalid && Password.touched" id="pwdHelp" style="color: red;"   class="form-text">Passsword must be valid</div>
            <div class="checkbox mb-3">
                <label>
                <input type="checkbox" value="remember-me" [(ngModel)]="stayLoggedIn" [ngModelOptions]="{standalone:true}"> Rimani collegato
                </label>
            </div>
            <button [disabled]="Password.invalid || Username.invalid" (click)="Login()" class="btn btn-lg btn-primary btn-block" style="background-color: #091e42;" type="submit">Login</button>
            <div *ngIf="failedLogin" id="pwdHelp" style="color: red;"   class="form-text">Credentials are not valid</div>
        </form>
    </div>
</article> -->
<section class="p-3 p-md-4 p-xl-5" id="logArt">
    <div class="container"  style="margin-top: 8%;">
      <div class="card border-light-subtle shadow-sm">
        <div class="row g-0">
          <div class="col-12 col-md-6">
            <img class="img-fluid rounded-start w-100 h-100 object-fit-cover" loading="lazy" src="/assets/images/Betacycle_Login.svg" style="padding: 50px;" alt="BootstrapBrain Logo">
          </div>
          <div class="col-12 col-md-6">
            <div class="card-body p-3 p-md-4 p-xl-5">
              <div class="row">
                <div class="col-12">
                  <div class="mb-5">
                    <h3>Log in</h3>
                  </div>
                </div>
              </div>
              <form action="#!">
                <div class="row gy-3 gy-md-4 overflow-hidden">
                  <div class="col-12">
                    <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
                    <input type="email" #Username="ngModel" [(ngModel)]="loginCredentials.username" [ngModelOptions]="{standalone:true}" class="form-control" name="email" id="email" placeholder="name@example.com" required>
                  </div>
                  <div class="col-12">
                    <label for="password" class="form-label">Password <span class="text-danger">*</span></label>
                    <input type="password" #Password="ngModel" [(ngModel)]="loginCredentials.password" [ngModelOptions]="{standalone:true}" class="form-control" name="password" id="password" value="" required>
                  </div>
                  <div class="col-12">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" name="remember_me" id="remember_me" value="remember-me" [(ngModel)]="stayLoggedIn" [ngModelOptions]="{standalone:true}">
                      <label class="form-check-label text-secondary" for="remember_me">
                        Keep me logged in
                      </label>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="d-grid">
                      <button class="btn bsb-btn-xl btn-primary" [disabled]="Password.invalid || Username.invalid" (click)="Login()">Log in now</button>
                    </div>
                  </div>
                  <p *ngIf="failedLogin" style="color: red;">Login failed - please check the email and password inserted</p>
                </div>
              </form>
              <div class="row">
                <div class="col-12">
                  <hr class="mt-5 mb-4 border-secondary-subtle">
                  <div class="d-flex gap-2 gap-md-4 flex-column flex-md-row justify-content-md-end">
                    <a role="button" (click)="navToSignup()" class="link-secondary text-decoration-none">Create new account</a>
                    <a role="button" (click)="navToForgot()" class="link-secondary text-decoration-none">Forgot password</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>




<!--
<article id="big-container">
    <div id="form-big-container">
        <div></div>
        <form id="form-container">
            
            <h1>LOG-IN</h1>

            <div class="fcontainer">
            
                <div class="icontainer">
                    <input #Username class="iform" type="text" name="username">
                </div>
            
                <div class="icontainer">
                    <input #Password class="iform" type="password" name="password">
                </div>
            
                <div (click)="Login(Username, Password)"><h3>Accedi</h3></div>
                <label for="stayLogged">Resta collegato </label><input type="checkbox" [(ngModel)]="stayLoggedIn" id="stayLogged">
            </div>

        </form>
    </div>
</article>
-->

<!--
<div *ngIf="!isLoggedIn">
    <input #Username type="text" name="username"><br>
    <input #Password type="text" name="password"><br>
    <input type="button" value="login" (click)="Login(Username, Password)"><br>
    resta collegato?
    <input type="checkbox" [(ngModel)]="stayLoggedIn">
</div>
-->
