<div class="d-flex mx-auto justify-content-center border" style="width: 40%; height: 30%; padding-top: 100px;">   
    <div class="flex-column mx-auto justify-content-center">
        <div><label for="" class="form-label">Inserisci la nuova password:</label></div>
        <div><input type="password" class="form-control" value="" #newPwd1></div>
        <div><label for="" class="form-label">Inseriscila di nuovo:</label></div>
        <div><input type="password" class="form-control" value="" #newPwd1></div>
        <div class="text-center"><button (click)="UpdateAndLogin(newPwd1)" class="btn ms-auto btn-primary" style="margin: 3%;">Conferma</button></div>
    </div>
</div>