################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/API/BetaCycleAPI/BetaCycleAPI/appsettings.json
/API/BetaCycleAPI/.vs
/API/BetaCycleAPI/BetaCycleAPI/bin
/API/BetaCycleAPI/BetaCycleAPI/obj
