<div class="container" style="padding-top: 100px;">
    <div class="row border rounded pb-2">
        <div class="col-md-8">
            <h2>Shopping Basket</h2>
            <p>Your items:</p>
            <table class="table">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of basketItemsProductsMap | keyvalue">
                        <td><img style="width: 100px;" src="data:image/gif;base64, {{item.value.largePhoto}}" alt="..."></td>
                        <td>{{ item.value.name }}</td>
                        <td>
                            <p-dropdown [(ngModel)]="item.key.quantity" [options]="rangeArray" (onChange)="updateQuantity(item.key)"></p-dropdown>
                        </td>
                        <td>${{ (item.key.quantity * item.value.listPrice) | number: '1.0-2' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <h2>Order Summary</h2>
            <p>Total items: {{ basketItemsProductsMap.size }}</p>
            <p>Total price: ${{ calculateTotalPrice() | number: '1.0-2' }}</p>
            <button pButton type="button" label="Checkout" class="btn btn-primary">Checkout</button>
        </div>
    </div>
</div>