
<form>
    <div class="row g-3 p-3">
        <h1>Personal Informations</h1>
        <h3>Anagraphic data</h3>
        <div class="col-md-4">
            <label for="inputEmail4" class="form-label">Name</label>
            <input #firstname type="text" class="form-control" value="{{info?.firstName}}" [disabled]="changesNotAllowed">
        </div>
        <div class="col-sm-4">
            <label for="inputPassword4" class="form-label">Middle Name</label>
            <input type="text" class="form-control" value="{{info?.middleName}}" #middlename [disabled]="changesNotAllowed">
        </div>
        <hr style="color: white; margin: 0;">
        <div class="col-md-4">
            <label for="inputPassword4" class="form-label">Last Name</label>
            <input type="text" class="form-control" value="{{info?.lastName}}" #lastname [disabled]="changesNotAllowed">
        </div>
        <div class="col-12">
            <button (click)="changesNotAllowed = !changesNotAllowed" class="btn btn-primary">Modify profile</button>
        </div>
        <div class="col-12">
            <button [disabled]="changesNotAllowed" class="btn btn-primary">Save profile</button>
        </div>
    </div>
    <div class="row g-3 p-3">
        <h3>Credentials</h3>
        <div class="col-md-4">
            <label for="inputPassword4" class="form-label">Email Address</label>
            <input type="email" class="form-control" value="{{getJwtUsername()}}" #email [disabled]="changesNotAllowed">
        </div>
        <div class="col-12">
            <button type="button" (click)="resetPwd ? resetPwd = false : resetPwd = true;" class="btn btn-primary">Change Password</button>
            <span *ngIf="resetPwd"><app-password-reset [formsDisabled]="changesNotAllowed"></app-password-reset></span>
        </div>
    </div>
</form>