footer{width: 100%; padding: 100px 5vw 35px 5vw; background-color: #687995; margin-top: 100px;}
.f-col-container{display: flex; flex-direction: row; width: 100%; column-gap: 35px; justify-content: center;}
.f-col{min-width: 250px; width: 100%; max-width: 600px; display: flex; flex-direction: column; row-gap: 25px;} 
.fc-col-text{display: flex; flex-direction: column; row-gap: 10px; align-items: flex-start;}
.fc-contact{display: flex; flex-direction: row; align-items: center; column-gap: 10px;}
.fc-contact:hover span.f-icons{color: white; background-color: #1e1e1e; transition: .25s ease-in-out;}
.fc-contact:hover .f-text{color: white; transition: .25s ease-in-out;}
.f-text{margin: 0px 0px; transition: .25s ease-in-out;}
img{height: 50px;}

.f-line{background-color: white; height: 5px; border-radius: 100px; margin: 35px 0px;}

.fci-container{justify-content: space-between; align-items: center; column-gap: 35px; width: 100%; display: flex; flex-direction: row;}
.f-icons-container{justify-content: center; display: flex; flex-direction: row; column-gap: 35px;}
.f-icons{font-size: 2.5rem; transition: .25s ease-in-out; padding: 10px; align-items: center; justify-content: center; background-color: bisque; border-radius: 100%;}
span.f-icons:hover{color: white; background-color: #1e1e1e; transition: .25s ease-in-out;}


@media only screen and (max-width: 910px) {
    .f-col-container {row-gap: 35px; flex-wrap: wrap; align-items: center; justify-content: center; row-gap: 25px;} 
    .f-col{max-width: 350px;}
    .f-diff{width: fit-content; min-width: fit-content;}
}

@media only screen and (max-width: 610px) {
    .fci-container{flex-wrap: wrap; justify-content: center; row-gap: 25px;}
}

@media only screen and (max-width: 425px) {
    .f-icons-container{flex-wrap: wrap; justify-content: center; row-gap: 10px;}
}