<footer>
  <!-- footer colonne container -->
  <div class="f-col-container">
    <!-- Colonna del footer di sinistra -->
    <div class="f-col">
      <!-- LOGO -->
      <div class="fc-col-text">
        <img src="../../../assets/images/Betacycle_logo_linear.svg" alt="linear-logo">
        <p class="f-text">#BestCycle</p>
      </div>
      <!-- ABOUT US -->
      <div class="fc-col-text">
        <h4 class="f-text">About Us</h4>
        <p class="f-text">Betacycle, founded in 2024, is your go-to destination for high-quality bicycles and accessories.</p>
      </div>
      <!-- CONTACT US -->
      <div class="fc-col-text">
        <h4 class="f-text">Contact Us</h4>
        <!-- Contact line 1 -->
        <div class="fc-contact">
          <span class="pi pi-instagram f-icons" style="font-size: 1.25rem;"></span>
          <h5 class="f-text">testo di prova</h5>
        </div>
        <!-- Contact line 2 -->
        <div class="fc-contact">
          <span class="pi pi-instagram f-icons" style="font-size: 1.25rem;"></span>
          <h5 class="f-text">testo di prova</h5>
        </div>
      </div>
    </div>
    <!-- Colonna del footer centrale -->
    <div class="f-col f-diff">
      <div class="fc-col-text"> 
        <h4 class="f-text">Informations</h4>
        <div class="subm-text">
          <p class="f-text">About Us</p>
          <p class="f-text">More Search</p>
          <p class="f-text">Blog</p>
          <p class="f-text">Testimonials</p>
          <p class="f-text">Event</p>
        </div>
      </div>

    </div> 
    <!-- Colonna del footer destra -->
    <div class="f-col f-diff">
      <div class="fc-col-text">
        <h4>Helpful Links</h4>
        <div class="subm-text">
          <p class="f-text">About Us</p>
          <p class="f-text">More Search</p>
          <p class="f-text">Blog</p>
          <p class="f-text">Testimonials</p>
          <p class="f-text">Event</p>
        </div>
      </div>
    </div>
  </div>
  <!-- linea di divisione footer -->
  <div class="f-line"></div>
  <!-- conteiner delle icone dei socials -->
  <div class="fci-container">
    <div class="f-icons-container">
      <span class="pi pi-instagram f-icons"></span>
      <span class="pi pi-facebook f-icons"></span>
      <span class="pi pi-twitter f-icons"></span>
      <span class="pi pi-envelope f-icons"></span>
    </div>
    <p class="f-text"><small>&copy; Copyright 2018, Betacycle, All Rights Reserved</small></p>
  </div>
</footer>
