#signupbg{
    background-image: url('/assets/images/Banner_BG_Home_1.svg');
    height: 100%; background-repeat: no-repeat; background-size: cover;
    top: -50%;
    background-position-y: center;
}
.signupform{
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}