<!-- LAYOUT OUTPUT SERACH -->
<div style="padding-top: 60px">
  <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
        <h1 class="display-4 fw-bolder">"{{ searchParams.search }}"</h1>
        <p class="lead fw-normal text-white-50 mb-0">Search results</p>
      </div>
    </div>
  </header>
  <p-toast [style]="{ 'margin-top': '60px' }" />
  <section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
      <div
        class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
        *ngIf="products != null; else spinner"
      >
        <div class="col mb-5 bc-item" *ngFor="let product of products">
          <div class="card h-100">
            <!-- Product image-->
            <img
              class="card-img-top"
              src="data:image/gif;base64, {{ product.largePhoto }}"
              alt="..."
            />
            <!-- Product details-->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">{{ product.name }}</h5>
                <!-- Product price-->
                {{ product.listPrice }}$
              </div>
            </div>
            <!-- Product actions-->
            <div
              class="card-footer bc-productcard-footer p-4 pt-0 border-top-0 bg-transparent"
            >
              <div *ngIf="!isUserAdmin">
                <button
                  class="btn btn-outline-dark mt-auto pi pi-cart-arrow-down bc-btn-product"
                  style="font-size: 1.5rem"
                  (click)="addProductToCart(product)"
                ></button>
              </div>
              <button
                class="btn btn-outline-dark mt-auto bc-btn-product"
                (click)="productDetails(product.productId)"
              >
                Details
              </button>
              <!-- add to cart action: takes product as parameter and adds 1 of that item to the shopping cart -->
            </div>
          </div>
        </div>
      </div>
      <ng-template #spinner>
        <div
          style="margin-left: auto; margin-right: auto; max-width: fit-content"
        >
          <p-progressSpinner ariaLabel="loading"></p-progressSpinner>
        </div>
      </ng-template>
      <div class="flex-1">
        <p-paginator
          (onPageChange)="changeOutput($event)"
          [first]="(searchParams.pageIndex - 1) * searchParams.pageSize"
          [rows]="searchParams.pageSize"
          [totalRecords]="productCount"
          [rowsPerPageOptions]="[10, 20, 30]"
          [showFirstLastIcon]="false"
        ></p-paginator>
      </div>
    </div>
  </section>
</div>
