<!--
<div class="card">
  <p-dataView #dv [value]="products">
    <ng-template pTemplate="list" let-products>
      <div class="grid grid-nogutter">
        <div class="col-12" *ngFor="let item of products; let first = first">
          <div
            class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4"
            [ngClass]="{ 'border-top-1 surface-border': !first }"
          >
            <img
              class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-round"
              [src]="
                'https://primefaces.org/cdn/primeng/images/demo/product/' +
                item.image
              "
              [alt]="item.name"
            />
            <div
              class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4"
            >
              <div
                class="flex flex-column align-items-center sm:align-items-start gap-3"
              >
                <div class="text-2xl font-bold text-900">{{ item.name }}</div>
                <p-rating
                  [(ngModel)]="item.rating"
                  [readonly]="true"
                  [cancel]="false"
                ></p-rating>
                <div class="flex align-items-center gap-3">
                  <span class="flex align-items-center gap-2">
                    <i class="pi pi-tag"></i>
                    <span class="font-semibold">{{ item.category }}</span>
                  </span>
                  <p-tag [value]="item.inventoryStatus"></p-tag>
                </div>
              </div>
              <div
                class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2"
              >
                <span class="text-2xl font-semibold">{{
                  "$" + item.price
                }}</span>
                <button
                  pButton
                  icon="pi pi-shopping-cart"
                  class="md:align-self-end mb-2 p-button-rounded"
                  [disabled]="item.inventoryStatus === 'OUTOFSTOCK'"
                ></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>
-->
<!-- <br><br><br><br>
<ul>
  <li *ngFor="let product of products">
    <img src="data:image/gif;base64, {{product.thumbNailPhoto}}"/>
    {{product.name}}
  </li>
</ul> -->


<!-- LAYOUT OUTPUT SERACH -->
<div style="padding-top: 100px;">
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">"{{searchParams.search}}"</h1>
          <p class="lead fw-normal text-white-50 mb-0">Risultati della ricerca</p>
      </div>
  </div>
</header>

<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

        <!-- <br><br><br><br>
<ul>
  <li *ngFor="let product of products">
    <img src="data:image/gif;base64, {{product.thumbNailPhoto}}"/>
    {{product.name}}
  </li>
</ul> -->

          <div class="col mb-5" *ngFor="let product of products">
              <div class="card h-100">
                  <!-- Product image-->
                  <img class="card-img-top" src="data:image/gif;base64, {{product.thumbNailPhoto}}" alt="...">
                  <!-- Product details-->
                  <div class="card-body p-4">
                      <div class="text-center">
                          <!-- Product name-->
                          <h5 class="fw-bolder">{{product.name}}</h5>
                          <!-- Product price-->
                          {{product.listPrice}}$
                      </div>
                  </div>
                  <!-- Product actions-->
                  <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                      <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                  </div>
              </div>
          </div>
      </div>
      <div class="flex-1">
        <p-paginator (onPageChange)="changeOutput($event)" [first]="0" [rows]="searchParams.pageSize" [totalRecords]="productCount" [rowsPerPageOptions]="[10, 20, 30]" [showFirstLastIcon]="false"></p-paginator>
    </div>
  </div>
</section>
</div>