
<h1 style="margin-bottom: 30px;">My orders</h1>
  <p-table [value]="orders">
      <ng-template pTemplate="orders">
          Order History
      </ng-template>
      <ng-template pTemplate="header" let-columns>
          <tr>
            <th scope="col">Order Number</th>
            <th scope="col">Order Date</th>
            <th scope="col">Shipping Date</th>
            <th scope="col">Shipping Address</th>
            <th scope="col">Status</th>
            <th scope="col">Shipping Type</th>
            <th scope="col">Subtotal</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-order let-columns="columns">
          <tr style="border-bottom: 1px solid grey;">
              <td>{{order.salesOrderNumber}}</td>
              <td>{{order.orderDate}}</td>
              <td>{{order.shipDate}}</td>
              <td>{{order.shipToAddress?.addressLine1}}</td>
              <td><span class="status-box">{{orderStatusString(order.status)}}</span></td>
              <td>{{order.shipMethod}}</td>
              <td>{{order.subTotal | currency:'USD'}}</td>
              <td><p-button label="Details" icon="pi pi-box" (click)="dialogBool=true; getDetails(order.salesOrderId);" styleClass="p-button-warning"></p-button></td>
              
              <p-dialog header="Order N. {{order.salesOrderNumber}}" draggable="false" [modal]="true" [(visible)]="dialogBool" [style]="{ width: '70rem' }" 
              [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
              <p-table [value]="order.salesOrderDetails">
                <ng-template pTemplate="header" let-columns>
                  <th scope="col">#</th>
                  <th scope="col">Product Name</th>
                  <th scope="col">Color</th>
                  <th scope="col">Single Price</th>
                  <th scope="col">Quantity</th>
                  <th scope="col"></th>
                </ng-template>
                <ng-template pTemplate="body" let-eachDet let-rowIndex="rowIndex">
                  <tr style="border-bottom: 1px solid grey;" [pEditableRow]="true">
                    <td><img style="max-width: fit-content;" class="card-img-top" src="data:image/gif;base64, {{eachDet.product.thumbNailPhoto}}" alt="{{eachDet.product.thumbNailPhotoFileName}}"></td>
                    <td>{{eachDet.product.name}}</td>
                    <td>{{eachDet.product.color}}</td>
                    <td>{{eachDet.unitPrice | currency:'USD'}}</td>
                    <td>{{eachDet.orderQty}}</td>
                  </tr>
                </ng-template>
              </p-table>
              </p-dialog>
          </tr>
      </ng-template>
  </p-table>
