<div class="modelContainer">
  <div class="card flex justify-content-center">
    <p-card [style]="{ width: '360px' }">
      <p>ModelName<input type="text" pInputText [(ngModel)]="model.name" /></p>

      Discontinued<p-inputSwitch [(ngModel)]="model.discontinued" />

      <ng-template pTemplate="footer">
        <div
          class="flex gap-3 mt-1"
          style="display: flex; justify-content: space-between; width: 100%"
        >
          <p-button
            label="Add Model"
            class="w-full"
            styleClass="w-full"
            (onClick)="Post()"
            routerLink="../model"
          />
        </div>
      </ng-template>
    </p-card>
  </div>
</div>
