<div
  style="
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  "
>
  <div class="search-bar-div">
    <p-button routerLink="../add-model"> Add model </p-button>
    <div class="search-div" style="display: flex; flex-direction: row;">
      <input
        type="text"
        [(ngModel)]="searchModel"
        placeholder="search"
        style="border-radius: 10px; width: 200px; height: 50px;"
      />
      <p-button (click)="ModelsFunction()">Search</p-button>
    </div>
  </div>
  <div class="modelContainer">
    <div class="card flex justify-content-center" *ngFor="let model of models">
      <p-card
        header="{{ model.name }}"
        subheader="{{ model.modifiedDate }}"
        [style]="{ width: '360px' }"
      >
        <p>
          <!-- DESCRIPTION PRODUCT -->
        </p>

        <ng-template pTemplate="footer">
          <div
            class="flex gap-3 mt-1"
            style="display: flex; justify-content: space-between; width: 100%"
          >
            <p-button
              label="Modify"
              class="w-full"
              styleClass="w-full"
              (onClick)="SetLocalStorage(model.productModelId)"
              routerLink="../modify-model"
            />
          </div>
        </ng-template>
      </p-card>
    </div>
  </div>

  <p-paginator
    (onPageChange)="changeOutput($event)"
    [first]="0"
    [rows]="searchParams.pageSize"
    [totalRecords]="modelCount"
    [rowsPerPageOptions]="[10, 20, 30]"
    [showFirstLastIcon]="false"
  ></p-paginator>
</div>
