<p-toast [style]="{'margin-top': '60px'}"></p-toast>
<div
  style="
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    justify-content: center;
    flex-direction: column;
  "
>
  <div style="display: flex; flex-direction: row; column-gap: 20px; justify-content: center;">
    <input
      type="text"
      [(ngModel)]="searchName"
      placeholder="search"
      style="border-radius: 10px; width: 200px; height: 50px;"
    />
    <p-button (click)="funzioneCustomer()">Search</p-button>
  </div>
  <div class="customerContainer justify-content-center" style="overflow-x: scroll; width: 100%;">
    <p-table [value]="customers" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>CompanyName</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Email address</th>
          <th>Ban customer</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-customer>
        <tr>
          <td>{{ customer.companyName }}</td>
          <td>{{ customer.firstName }}</td>
          <td>{{ customer.lastName }}</td>
          <td>{{ customer.emailAddress }}</td>
          <td>
            <p-button (onClick)="DeleteCustomer(customer.customerId)"
              >DELETE</p-button
            >
          </td>
        </tr>
      </ng-template>
    </p-table>
    <p-paginator
      (onPageChange)="changeOutput($event)"
      [first]="0"
      [rows]="searchParams.pageSize"
      [totalRecords]="customersCount"
      [rowsPerPageOptions]="[10, 20, 30]"
      [showFirstLastIcon]="false"
    ></p-paginator>
  </div>
</div>
