<div class="modelContainer">
  <div class="card flex justify-content-center">
    <p-card [style]="{ width: '360px' }">
      <p>
        <p-dropdown
          [options]="categories"
          optionLabel="name"
          optionValue="productCategoryId"
          placeholder="Select a parent category"
          [(ngModel)]="category.parentProductCategoryId"
        >
        </p-dropdown>
      </p>

      <p>
        CategoryName<input type="text" pInputText [(ngModel)]="category.name" />
      </p>
      Discontinued<p-inputSwitch [(ngModel)]="category.discontinued" />

      <ng-template pTemplate="footer">
        <div
          class="flex gap-3 mt-1"
          style="display: flex; justify-content: space-between; width: 100%"
        >
          <p-button
            label="Add Category"
            class="w-full"
            styleClass="w-full"
            (onClick)="Post()"
          />
        </div>
      </ng-template>
    </p-card>
  </div>
</div>
