<nav
  style="background-color: #687995; position: fixed; width: 100vw; z-index: 2"
>
  <!-- SUB NAV CONTAINER -->
  <div class="snav-container">
    <!-- LOGO IMAGE -->
    <a class="navbar-brand" routerLink="/home"
      ><img src="/assets/images/Betacycle_logo_linear.svg"
    /></a>

    <!-- SEARCHBAR -->
    <form
      class="d-flex navbar-form"
      onsubmit="return false;"
      style="position: absolute; margin: auto; right: 0; left: 0; width: 400px"
      *ngIf="windowWidth > navbarBreakpoint"
    >
      <input
        #searchStringNav
        class="form-control me-2"
        type="text"
        placeholder="Search"
        aria-label="Search"
        style="border-radius: 20px"
        (keyup.enter)="Search(searchStringNav)"
      />
      <button
        class="btn btn-outline-primary"
        type="button"
        style="border-radius: 20px"
        (click)="Search(searchStringNav)"
      >
        Search
      </button>
    </form>

    <!-- RIGHT BUTTONS CONTAINeR -->
    <div class="n-buttons">
      <!-- BOTTONE CARELLO -->
      <div class="ms-auto">
        <a routerLink="/basket" class="cart-btn pi pi-shopping-cart"></a>
      </div>

      <!-- BOTTONE SIDE-BAR -->
      <div class="n-icon" (click)="sidebarVisible = true">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</nav>

<p-sidebar
  [(visible)]="sidebarVisible"
  position="right"
  styleClass="bg-light p-sidebar-mask"
  [modal]="true"
>
  <h3 style="text-align: center; margin-bottom: 50px">Menu</h3>
  <form
    class="d-flex ms-auto me-auto"
    onsubmit="return false;"
    *ngIf="windowWidth <= navbarBreakpoint"
  >
    <input
      #searchString
      class="form-control me-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
      style="border-radius: 20px"
      (keyup.enter)="Search(searchString); sidebarVisible = false"
    />
    <button
      class="btn btn-outline-success"
      type="button"
      style="border-radius: 20px"
      (click)="Search(searchString); sidebarVisible = false"
    >
      Search
    </button>
  </form>
  <ul>
    <li *ngIf="!isUserLoggedIn" class="nav-item bc-nav-item">
      <a class="nav-link" routerLink="/login" (click)="sidebarVisible = false"
        >Login</a
      >
    </li>
    <li *ngIf="!isUserLoggedIn" class="nav-item bc-nav-item">
      <a class="nav-link" routerLink="/signup" (click)="sidebarVisible = false"
        >Sign up</a
      >
    </li>
    <li *ngIf="isUserLoggedIn && !isUserAdmin" class="nav-item bc-nav-item">
      <a
        class="nav-link"
        routerLink="/personal/myinfo"
        (click)="sidebarVisible = false"
        >Personal area</a
      >
    </li>
    <li *ngIf="isUserAdmin" class="nav-item bc-nav-item">
      <a class="nav-link" routerLink="/admin" (click)="sidebarVisible = false"
        >Admin zone</a
      >
    </li>
    <li *ngIf="isUserLoggedIn" class="nav-item bc-nav-item">
      <a
        class="nav-link"
        routerLink="/home"
        (click)="Logout(); sidebarVisible = false"
        >Logout</a
      >
    </li>
  </ul>
</p-sidebar>
<router-outlet></router-outlet>
