<nav
  class="navbar navbar-expand-lg navbar-expand"
  style="background-color: #687995; position: fixed; width: 100%; z-index: 1"
  >
  <div class="container-fluid d-flex justify-content-between">
    <a class="navbar-brand" routerLink="/home"
      ><img src="/assets/images/Betacycle_logo_linear.svg"
    /></a>

    <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="windowWidth > navbarBreakpoint;"> -->
    <form class="d-flex navbar-form" onsubmit="return false;" style="position: absolute; margin: auto; right: 0; left: 0; width: 400px;" *ngIf="windowWidth > navbarBreakpoint;">
      <input
        #searchStringNav
        class="form-control me-2"
        type="text"
        placeholder="Search"
        aria-label="Search"
        style="border-radius: 20px"
        (keyup.enter)="Search(searchStringNav)" />
      <button
        class="btn btn-outline-primary"
        type="button"
        style="border-radius: 20px"
        (click)="Search(searchStringNav)">
        Search
      </button>
    </form>
    <!-- </div> -->
    <div class>
      <p-button
        type="button"
        class="mr-2"
        (click)="sidebarVisible = true"
        icon="pi pi-bars"
        size="small"></p-button>
    </div>
  </div>
</nav>
<p-sidebar
  [(visible)]="sidebarVisible"
  position="right"
  styleClass="bg-light p-sidebar-mask"
  [modal]="true">
  <h3>Right Sidebar</h3>
  <form class="d-flex ms-auto me-auto" *ngIf="windowWidth <= navbarBreakpoint;">
    <input
      #searchString
      class="form-control me-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
      style="border-radius: 20px" />
    <button
      class="btn btn-outline-success"
      type="button"
      style="border-radius: 20px"
      (click)="Search(searchString)"
      [routerLink]="['/search']">
      Search
    </button>
  </form>
  <ul>
    <li *ngIf="!isUserLoggedIn" class="nav-item">
      <a class="nav-link" routerLink="/login">Login</a>
    </li>
    <li *ngIf="!isUserLoggedIn" class="nav-item">
      <a class="nav-link" routerLink="/signup">Sign up</a>
    </li>
    <li *ngIf="isUserLoggedIn && !isUserAdmin" class="nav-item">
      <a class="nav-link" routerLink="/personal/myinfo">Area personale</a>
    </li>
    <li *ngIf="isUserAdmin" class="nav-item">
      <a class="nav-link" routerLink="/admin">Zona Amministratori</a>
    </li>
    <li *ngIf="isUserLoggedIn" class="nav-item">
      <a class="nav-link" routerLink="/home" (click)="Logout()">Logout</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/search">RicercaApprofondita</a>
    </li>
  </ul>
</p-sidebar>
<router-outlet></router-outlet>

<!-- 
    <a *ngIf="isUserLoggedIn">area personale</a><br>
<input *ngIf="isUserLoggedIn" type="button" value="logout" (click)="Logout()">
  -->
