<div class="ADbuttonsContainer">
  <p-button routerLink="customers">Customers list</p-button>
  <p-button routerLink="products-list">Products list</p-button>
  <p-button routerLink="add-product">Add Product</p-button>
  <p-button routerLink="model">Models List</p-button>
  <p-button routerLink="category">Categories list</p-button>
</div>

<!--
<p-button routerLink="customers">Elenco Clienti</p-button>
<p-button routerLink="add-product">Aggiungi un prodotto</p-button>
<p-button routerLink="products-list">Elenco</p-button>

<p-button>Elimina Selezionati</p-button>
<p-button routerLink="modify-product">Modifica Prodotto</p-button>
-->
