<div class="ADbuttonsContainer">
  <p-button routerLink="customers">Elenco Clienti</p-button>
  <p-button routerLink="products-list">Elenco Prodotti</p-button>
  <p-button routerLink="add-product">Aggiungi Prodotto</p-button>
  <p-button routerLink="model">Elenco Modelli</p-button>
  <p-button routerLink="category">Elenco Categorie</p-button>
</div>

<!--
<p-button routerLink="customers">Elenco Clienti</p-button>
<p-button routerLink="add-product">Aggiungi un prodotto</p-button>
<p-button routerLink="products-list">Elenco</p-button>

<p-button>Elimina Selezionati</p-button>
<p-button routerLink="modify-product">Modifica Prodotto</p-button>
-->
