<main role="main" style="padding-top: 75px">
  <div class="card" style="position: unset">
    <div id="carouselExampleIndicators" class="carousel slide"
      data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>


      <div class="carousel-inner">

        <div class="carousel-item active align-items-center justify-content-center bg-item" id="bcimg-first" data-bs-interval="5000">
          <div class="bcmain-page-container">
            <h2>Iscriviti adesso</h2>
            <p>Entra a far parte di questa grande famiglia!</p>
            <a routerLink="/signup" class="bc-sub-button" role="button">Iscriviti</a>
          </div>
        </div>

        <div class="carousel-item bg-item" id="bcimg-second" data-bs-interval="5000">
          <div class="carousel-caption phrase">
            <h2 style="color: white">"Ride the <span>Difference</span> with our
              Exceptional <span>Bicycles</span>!"</h2>
          </div>
        </div>

        <div class="carousel-item bg-item align-items-center justify-content-center" id="bcimg-third" data-bs-interval="5000">
          <div class="bcmain-page-container" style="color: white;">
            <h2>Hai bisogno di aiuto? Contattaci!</h2>
            <h3 style="column-gap: 20px; display: flex;"><i class="pi pi-envelope" style="font-size: clamp(1.25rem, 0.313vw + 1.188rem, 1.563rem);
              line-height: clamp(1.875rem, 0.156vw + 1.844rem, 2.031rem);"></i>
              <a class="bc-support" href="mailto:beta89256464@gmail.com">beta89256464&#64;gmail.com</a></h3>

            <h3 style="column-gap: 20px; display: flex;"><i class="pi pi-phone" style="font-size: clamp(1.25rem, 0.313vw + 1.188rem, 1.563rem);
              line-height: clamp(1.875rem, 0.156vw + 1.844rem, 2.031rem);"></i><a class="bc-support" href="tel:3333333333">333 3333333</a></h3>
          </div>
        </div>

      </div>
      <button class="carousel-control-prev" type="button"
        data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button"
        data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  

  <div class="container marketing">
    <h1 style="margin-top: 100px;">Scopri cosa pensano di noi...</h1>
    <div class="bc-review-row">
      <div class="card-wrapper bc-card-wrapper card-space col-md-4">
        <div class="card-body bc-review-card">
          <h3 class="card-title h5 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor…</h3>
          <p class="card-text font-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a class="read-more" href="#">
            <span class="text">Leggi di più</span>
            <span class="visually-hidden">su Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor…</span>
          </a>
        </div>
      </div>

      <div class="card-wrapper bc-card-wrapper card-space col-md-4">
        <div class="card-body bc-review-card">
          <h3 class="card-title h5 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor…</h3>
          <p class="card-text font-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a class="read-more" href="#">
            <span class="text">Leggi di più</span>
            <span class="visually-hidden">su Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor…</span>
          </a>
        </div>
      </div>

      <div class="card-wrapper bc-card-wrapper card-space col-md-4">
        <div class="card-body bc-review-card">
          <h3 class="card-title h5 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor…</h3>
          <p class="card-text font-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a class="read-more" href="#">
            <span class="text">Leggi di più</span>
            <span class="visually-hidden">su Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor…</span>
          </a>
        </div>
      </div>
    </div>
    <!-- Three columns of text below the carousel -->
    <!-- <div class="row">
      <div class="col-lg-4">
        <img
          class="rounded-circle"
          src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
          alt="Generic placeholder image"
          width="140"
          height="140" />
        <h2>Heading</h2>
        <p>
          Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.
          Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo
          risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo
          cursus magna.
        </p>
        <p>
          <a class="btn btn-secondary" href="#" role="button">View details »</a>
        </p>
      </div> -->
      <!-- /.col-lg-4 -->
      <!-- <div class="col-lg-4">
        <img
          class="rounded-circle"
          src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
          alt="Generic placeholder image"
          width="140"
          height="140" />
        <h2>Heading</h2>
        <p>
          Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget
          lacinia odio sem nec elit. Cras mattis consectetur purus sit amet
          fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris
          condimentum nibh.
        </p>
        <p>
          <a class="btn btn-secondary" href="#" role="button">View details »</a>
        </p>
      </div> -->
      <!-- /.col-lg-4 -->
      <!-- <div class="col-lg-4">
        <img
          class="rounded-circle"
          src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
          alt="Generic placeholder image"
          width="140"
          height="140" />
        <h2>Heading</h2>
        <p>
          Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas
          eget quam. Vestibulum id ligula porta felis euismod semper. Fusce
          dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
          fermentum massa justo sit amet risus.
        </p>
        <p>
          <a class="btn btn-secondary" href="#" role="button">View details »</a>
        </p>
      </div> -->
      <!-- /.col-lg-4 -->
    <!-- </div> -->
    <!-- /.row -->

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">
          Chi siamo?
        </h2>
        <span class="text-muted"><h3 style="margin-top: 15px;">Scopri come e quando e' iniziata la nostra avventura!</h3></span>
        <p class="lead">
          Betacycle, nato nel 2024, è il tuo punto di riferimento per biciclette e accessori di alta qualità.
          Con una selezione curata dei migliori marchi del settore, ci impegniamo a offrire sicurezza e prestazioni eccezionali.
          Oltre a essere un negozio, siamo una comunità di ciclisti che promuove uno stile di vita attivo e sostenibile.
          Sia che tu sia un principiante o un ciclista esperto, siamo qui per supportarti.
          Unisciti a noi nella missione di ispirare libertà, avventura e gioia attraverso il ciclismo.
          Esplora il mondo su due ruote con Betacycle, il tuo compagno di fiducia per l'avventura ciclistica.
        </p>
      </div>
      <div class="col-md-5">
        <img src="/assets/images/Betacycle-Big-logo.svg" class="bc-imgfr" alt="">
      </div>
    </div>

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">
          Oh yeah, it's that good.
          <span class="text-muted">See for yourself.</span>
        </h2>
        <p class="lead">
          Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id
          ligula porta felis euismod semper. Praesent commodo cursus magna, vel
          scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img
          class="featurette-image img-fluid mx-auto"
          data-src="holder.js/500x500/auto"
          alt="500x500"
          src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_18f28d558b0%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_18f28d558b0%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22185.1171875%22%20y%3D%22261.1%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
          data-holder-rendered="true"
          style="width: 500px; height: 500px" />
      </div>
    </div>

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">
          Dove siamo?
        </h2>
        <span class="text-muted"><h3 style="margin-top: 15px; margin-bottom: 25px;">Vieni a trovarci o contattaci!</h3></span>
        <h5 style="column-gap: 20px; display: flex;"><i class="pi pi-envelope" style="font-size: clamp(1.25rem, 0.313vw + 1.188rem, 1.563rem);
          line-height: clamp(1.875rem, 0.156vw + 1.844rem, 2.031rem);"></i>
          <a class="bc-support bc-info" href="mailto:beta89256464@gmail.com">beta89256464&#64;gmail.com</a></h5>

        <h5 style="column-gap: 20px; display: flex;"><i class="pi pi-phone" style="font-size: clamp(1.25rem, 0.313vw + 1.188rem, 1.563rem);
          line-height: clamp(1.875rem, 0.156vw + 1.844rem, 2.031rem);"></i><a class="bc-support bc-info" href="tel:3333333333">333 3333333</a></h5>

        <h5 style="column-gap: 20px; display: flex;"><i class="pi pi-map-marker" style="font-size: clamp(1.25rem, 0.313vw + 1.188rem, 1.563rem);
          line-height: clamp(1.875rem, 0.156vw + 1.844rem, 2.031rem);"></i><a class="bc-support bc-info" href="
          https://www.google.it/maps/place/Viale+Stelvio,+70,+20159+Milano+MI/@45.4953476,9.1820322,19z/data=!4m6!3m5!1s0x4786c12cbb3059df:0xbd9f9d9852d57101!8m2!3d45.4956099!4d9.1821019!16s%2Fg%2F11c215mtbt?entry=ttu">
          Viale Stelvio, 70, 20159 Milano MI</a></h5>
      </div>
      <div class="col-md-5">
        <iframe id="frame-maps" class="bc-imgfr" load="lazy" allowfullscreen="" 
        src="https://www.google.com/maps/embed/v1/view?key=AIzaSyDGnBX6rn9ZWd4-gmLf3LF2JwxBBmivkQU&center=45.49558730948945,9.18207775730284&zoom=20
            &maptype=satellite"></iframe>
      </div>
    </div>

    <hr class="featurette-divider" />

    <!-- /END THE FEATURETTES -->
  </div>
  <!-- /.container -->

  <!-- FOOTER -->
  <footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>
      © 2017-2018 Company, Inc. · <a href="#">Privacy</a> ·
      <a href="#">Terms</a>
    </p>
  </footer>
</main>

<router-outlet></router-outlet>
