<div class="d-flex mx-auto justify-content-center" style="width: 40%; height: 30%; padding-top: 100px;">    
    <div class="flex-column mx-auto justify-content-center border p-3">
        <div><label for="" class="form-label">Insert your email: we'll send you a link to recover your password</label></div>
        <div><input type="email" class="form-control" #email></div>
        <div class="text-center"><button (click)="SendMail(email)" class="btn ms-auto btn-primary" style="margin: 3%;">Send email</button></div>
    </div>
</div>