@media only screen and (min-width: 768px){
    .container{
        padding-top: 100px;
        min-height: fit-content;
        width: 100vw;
        display: flex;
        flex-direction: row;
    }
}
@media only screen and (max-width: 767px){
    .container{
        padding-top: 100px;
        min-height: fit-content;
        width: 100vw;
    }
    .expected-time{
        margin-bottom: 20px;
    }

}

.checkout-info{
    text-decoration: none;
    color: black;
}

.radio-group {
    display: flex;
    flex-direction: column;
}

.radio-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
}

.radio-container input {
    display: none;
}

.radio-checkmark {
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #ccc;
    margin-right: 10px;
    position: relative;
}

.radio-container input:checked + .radio-checkmark {
    border-color: #2196F3;
}

.radio-container input:checked + .radio-checkmark:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #2196F3;
    transform: translate(-50%, -50%);
}

.col-md-8{
    /* width: 65%; */
    padding-right: 30px;
}
.col-md-4{
    /* width: 35%; */
    border: 1px solid rgb(194, 190, 190);
    text-align: center;
    border-radius: 15px;
    padding: 15px;
    min-height: fit-content;
    height: 100%;
}

.basket-item{
    display: flex;
    flex-direction: row;
    margin: 3px;
    column-gap: 30px;
    margin-bottom: 20px;
}
.footer-item{
    text-align: left;
}

.info-checkout{
    border-top: 1px solid rgb(194, 190, 190);
    padding-top: 15px;
    border-bottom: 1px solid rgb(194, 190, 190);
    margin-bottom: 30px;
}
.ship-method-choice{
    display: flex;
    flex-direction: row;
}

.choice{
    margin: 15px;
}
.sales-info-card{
    margin-bottom: 20px;
    margin-top: 20px;
}

.checkout-btn{
    padding: 15px 25px;
    color: white;
    background-color: #687995;
    border: 1px solid #687995;
    border-radius: 10px;
    transition: 0.25s ease-in-out;
}
.checkout-btn:hover{
    color: #687995;
    border: 1px solid #687995;
    background-color: white;
    transition: 0.25s ease-in-out;
}