.container{
    padding-top: 100px;
    /* margin-left: 1vw;
    margin-right: 1vw; */
    border: 1px solid #dd1111;
    height: 100%; width: 100vw;
    display: flex;
    flex-direction: row;
}
.checkout-info{
    text-decoration: none;
    color: black;
}

.radio-group {
    display: flex;
    flex-direction: column;
}

.radio-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
}

.radio-container input {
    display: none;
}

.radio-checkmark {
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #ccc;
    margin-right: 10px;
    position: relative;
}

.radio-container input:checked + .radio-checkmark {
    border-color: #2196F3;
}

.radio-container input:checked + .radio-checkmark:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #2196F3;
    transform: translate(-50%, -50%);
}

.left-checkout{
    width: 65%;
    border: 1px solid red;
}
.right-checkout{
    width: 35%;
    border: 1px solid red;
    text-align: center;
}

.basket-item{
    display: flex;
    flex-direction: row;
    margin: 3px;
    column-gap: 30px;
    margin-bottom: 20px;
}
.footer-item{
    text-align: left;
}

.info-checkout{
    border: 1px solid red;
}
