<div class="container">
    <div class="left-checkout">
        <div class="sales-info-card">
            <a class="checkout-info" style="width: 500px;" type="button" data-bs-toggle="collapse"
                data-bs-target="#addressShipChoiceCollapse">
                <h4>Select your shipping address <i class="pi pi-angle-down"></i></h4>
            </a>
            <div class="collapse" id="addressShipChoiceCollapse" >
                <div class=" radio-group">
                    <label class="radio-container" *ngFor="let add of addresses; index as i">
                        <input type="radio" (click)="setShipAddress('ship-add')" name="ship-add" value="{{i}}">
                        <span class="radio-checkmark"></span>
                        {{add.addressLine1}} - {{add.postalCode}} - {{add.city}}<br>{{add.customerAddresses[0].addressType}}
                    </label>
                </div>
            </div>
        </div>
        <div class="sales-info-card">
            <a class="checkout-info" style="width: 500px;" type="button" data-bs-toggle="collapse"
                data-bs-target="#addressBillChoiceCollapse">
                <h4>Select your billing address <i class="pi pi-angle-down"></i></h4>
            </a>
            <div class="collapse" id="addressBillChoiceCollapse" >
                <div class=" radio-group">
                    <label class="radio-container" *ngFor="let add of addresses; index as i">
                        <input type="radio" (click)="setBillAddress('bill-add')" name="bill-add" value="{{i}}">
                        <span class="radio-checkmark"></span>
                        {{add.addressLine1}} - {{add.postalCode}} - {{add.city}}<br>{{add.customerAddresses[0].addressType}}
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>