<div class="container rounded bg-white">
    <div class="row" style="width: 100%; padding-top: 100px;">

            <div class="p-3 py-5">
                <div class="d-flex text-center mb-3">
                    <h4 class="text-right">Password Reset</h4>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="labels">vecchia pwd</label><input #oldpwd type="text" [disabled]="false" class="form-control" >
                    </div>
                    <div class="col-md-4">
                        <label class="labels">nuova pwd</label><input #newpwd type="text" [disabled]="false" class="form-control" >
                    </div>
                </div>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button" (click)="pwdReset(oldpwd, newpwd)">Password reset</button></div>
                {{res}}
            </div>
    </div>
</div>