<div class="container rounded bg-white">
    <div class="row" style="width: 100%;">
            <div class="p-3 py-5">
                <div class="d-flex text-center mb-3">
                    <h4 class="text-center">Password Reset</h4>
                </div>
                <div class="row">
                    <div class="col-md-4 text-center">
                        <label class="labels">Vecchia Password:</label><input #oldpwd type="text" [disabled]="canNotChange"class="form-control" >
                    </div>
                    <div class="col-md-4 text-center">
                        <label class="labels">Nuova Password:</label><input #newpwd type="text" [disabled]="canNotChange" class="form-control" >
                    </div>
                </div>
                <div class="mt-2 text-center"><button class="btn btn-primary profile-button" type="button" (click)="pwdReset(oldpwd, newpwd)">Password reset</button></div>
                {{result ? "password modificata" : "errore: password errata"}}
            </div>
    </div>
</div>