<div class="d-flex justify-content-center m-3 border w-25 p-2 rounded">
    <div class="flex-row justify-content-center" style="width: 100%;">
        <div class="d-flex text-center mb-3">
            <h5 class="text-center">Password Reset</h5>
        </div>
        <div class="flex-row justify-content-center">
            <div class="mx-auto" style="width: 80%;">
                <label class="labels">Old Password:</label><input [disabled]="formsDisabled" #oldpwd type="text" class="form-control">
            </div>
            <div class="mx-auto" style="width: 80%;">
                <label class="labels">New Password:</label><input [disabled]="formsDisabled" #newpwd type="text" class="form-control">
            </div>
        </div>
        <div class="mt-2 text-center"><button class="btn btn-primary profile-button" type="button"
                (click)="pwdReset(oldpwd, newpwd)">Password reset</button></div>
        <span *ngIf="result != null">{{result ? "password modificata" : "password errata"}}</span>
    </div>
</div>